{% extends 'base.html' %}
{% load static %}
{% block title %}Tiny: Requests{% endblock %}
{% block head %}
    <style>
        .pagination li{
            margin: 0 5px;
        }
        td{
            border: 1px solid;
            word-break: break-all;
            word-wrap: break-word;
        }
        #id_approved, #id_denied {  {# This is necessary b/c the inputs cannot be hidden server-side#}
            display: none;
        }
    </style>
    <script src="{% static 'js/urls/requests.js' %}" type="text/javascript"></script>
{% endblock %}
{% block main %}
    {% if not page_obj %}
        <h5>No URL Requests Submitted Yet</h5>
    {% else %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>Short URL</th>
                        <th>Destination URL</th>
                        <th>Created By</th>
                        <th>Description</th>
                        <th>Approve?</th>
                        <th>Deny?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in page_obj %}
                    <tr>
                        <td>
                            <a href="{{ request.is_secure|yesno:"https,http" }}://{{ request.get_host }}/{{ url.slug }}">
                               {{ request.is_secure|yesno:"https,http" }}://{{ request.get_host }}/{{ url.slug }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url.url }}">{{ url.url }}</a>
                        </td>
                        <td>
                            {{ url.created_by }}
                        </td>
                        <td style="width: 15%">
                            {{ url.description }}
                        </td>
                        <td>
                            <input type="checkbox" class="url-approve" id="{{ url.id }}">
                        </td>
                        <td>
                            <input type="checkbox" class="url-deny" id="{{ url.id }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    <li><a href="?page=1">&laquo;First</a></li>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo;Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next&rsaquo;</a></li>
                    {% endif %}
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">Last&raquo;</a></li>
                </ul>
            {% endif %}
        </div>
        <form action="{% url "urls:requests" %}" method="post">
            {% csrf_token %}
            {{ form.approved }}
            {{ form.denied }}
            <input type="submit" id="approval-submit">
        </form>
    {% endif %}
{% endblock %}